* {
    margin: 0%;
    padding: 0%;
}

body {
    /* background-color: rgb(118, 92, 132); */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("./images/quiz-background.jpg");
}

/* header {
    background-color: blaCK;
} */

#high-score-btn{
    position: relative;
    float: right;
    border: .2rem;
    border-style:double;
    padding: .3rem;
    margin-right: .5dvw;
    border-radius: .5rem;
    background-color:silver;
    
}

#high-score-btn:hover {
    transform: scale(1.1);
}

#high-score-btn:active {
    background-color: blue; 
}

@keyframes wave {

    50% {
        border-radius: 0 1rem 0 1rem;
    }

    100% {
        border-radius: 1rem 0 1rem 0;
    }

}

#high-score-btn:hover{

    animation: wave 4s ease-in-out infinite;


}

    #time-text {
        font-size: 2em;
        color: rgb(238, 255, 0);
        position: relative;
        margin-left: 2dvw;
        margin-bottom: 5dvh;
     }
     
     #time-counter {
         color: aliceblue;;
         font-size: 2dvw;
         display: inline;
         margin-left: 2dvw;
         margin-bottom: 4dvh;
     }

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
    font-size: 4em;
    display:flex;
    justify-content: center;
}



#start-button {
    position: relative;
    font-size: 1.5em;
    margin-left: 48dvw;
    border: .5rem;
    border-style:double;
    padding: .8rem;
    margin-right: .5dvw;
    border-radius: 2rem;
    background-color: silver;
   --accent-color:blue;
  
}

#start-button::before{
    content:'';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--accent-color) ;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
    position: absolute;
    z-index: -1;
    border-radius: 2rem;
}

#start-button{
    z-index: 1;
}

#start-button:hover::before,
#start-button:focus::before{
    transform: scaleX(1);
    
}

#start-button:hover,
#start-button:focus{
    color: white;
}

#start-button:hover {
  transform: scale(1.1);
}


#start-button:active {
  border-color: crimson; 
  }

#info {
    font-size: 2dvh;
    color: aliceblue;
    text-align: center;
    margin-top: 4dvh;
}

#questions {
  font-size: 1.7em;
  margin-left: 35dvw;
  margin-top: 8dvh;
}

h4 {
   font-size: 1.5em;
   display: flex;
   justify-content: flex-start ;
   
    
}

#choices {
    margin-top: 10em;
    visibility:hidden;
    display: block;
    margin-top: 10dvh;
    margin-right: auto;
    margin-left: 35dvw;
    
}

#end-text{
    visibility: hidden;
}

#player-info {
   visibility: hidden;
}

#choice-a, #choice-b, #choice-c, #choice-d {
    font-size: 1em;
    background-color: rgb(170, 169, 196);
    margin-top: 1dvh;
}

#choices .btn:hover {
    transform: scale(1.1);
}


#choices .btn:active {
    background-color: rgb(25, 131, 223);
}
