* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(118, 92, 132);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: blaCK;
    
   
}
#high-score-btn{
    float:right;
    padding: .5em;
    border-radius: .5em;
}

#high-score-btn:hover {
    transform: scale(1.1);
}

#high-score-btn:active {
    background-color: blue;
}

    #time-text {
        font-size: 2em;
        color: rgb(238, 255, 0);
        position: relative;
        margin-left: 2dvw;
        margin-bottom: 5dvh;
     }
     
     #time-counter {
         color: aliceblue;;
         font-size: 2dvw;
         display: inline;
         margin-left: 2dvw;
         margin-bottom: 4dvh;
     }

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
    font-size: 4em;
    display:flex;
    justify-content: center;
}



#start-button {
    font-size: 1.5em;
    margin-left: 48dvw;
    background-color: silver;
    border-radius: 1em;
    padding: 1em;
    margin-top: 5dvh;
}

#start-button:hover {
  transform: scale(1.1);
}


#start-button:active {
  background-color: blue;
   
  }

#info {
    font-size: 2dvh;
    color: aliceblue;
    text-align: center;
    margin-top: 4dvh;
}

#questions {
  font-size: 1.7em;
  margin-left: 35dvw;
  margin-top: 8dvh;
}

h4 {
   font-size: 1.5em;
   display: flex;
   justify-content: flex-start ;
   
    
}

#choices {
    margin-top: 10em;
    visibility:hidden;
    display: block;
    margin-top: 10dvh;
    margin-right: auto;
    margin-left: 35dvw;
    
}

#end-text{
    visibility: hidden;
}

#player-info {
   visibility: hidden;
}

#choice-a, #choice-b, #choice-c, #choice-d {
    font-size: 1em;
    background-color: rgb(170, 169, 196);
    margin-top: 1dvh;
}

#choices .btn:hover {
    transform: scale(1.1);
}


#choices .btn:active {
    background-color: blue;
}

#score-page {
    background-color:rgb(118, 92, 132);
}

#high-score-body {
    background-color: wheat;
}


#back-btn {
    padding: .5em;
    border-radius: .5em;
}

#back-btn:hover {
    transform: scale(1.1);
}

#back-btn:active {
    background-color: blue;
}